.userHomeScreenContainer {
  width: 90%;
  margin: 5% 5%;
}

.userHomeScreenButtons {
  width: 90%;
  margin: 20% 5% 5%;
  text-align: center;
}

.editRestaurantContainer {
    text-align: left;
    border: 1px solid black;
    padding: 3%;
}

ul {
  padding: 0;
}

.restaurantName {
  margin-bottom: 2%;
}

li {
  list-style: none;
  margin: 3% 0%;
  border: 1px solid black;
  padding: 3%;
}

.restuarantControlButtons {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (min-width: 1024px) {
  .userHomeScreenButtons {
    width: 90%;
    margin: 12% 5% 5% 5%;
  }

  .userHomeScreenContainer {
    width: 100%;
    margin: 0%;
  }

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0 2%;
  }

  li {
    width: 30%;
    height: 23%;
    margin: 0% 1%;
    padding: 1%;
  }

  .editRestaurantContainer {
    padding: 1% 2%;
    width: 30%;
}
}