.landingPage { 
  width: 100%;
  height: 100%;
  margin-top: 12.5%;
}

.landingPageHeader {
  color: white;
  padding: 15% 10%;
  width: 100%;
  height: 100%;
  background: url(../../nice-restaurant.jpg);
  background-position: 80% 80%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.landingPageDescriptions {
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.descBox {
  margin: 5% 0;
}

@media only screen and (min-width: 768px) {
  .landingPage {
    margin-top: 8.5%;
  }
}

@media only screen and (min-width: 1024px) {
  .landingPage {
    margin-top: 7.8%;
  }

  .landingPageDescriptions {
    padding: 5% 5%;
    flex-direction: row;
    justify-content: space-around;
  }
}