header {
  width: 100%;
  position: fixed;
  padding: 0 0 2%;
  top: 0;
  border-bottom: 2px solid rgb(73, 36, 69);
  background-color: white;
}

h2 {
  color: rgb(73, 36, 69);
}

.headerContainer {
  padding-top: 3%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.user__logout {
  align-self: flex-end;
  margin-bottom: 0.8%
}