* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

h1 {
  font-family: 'Cinzel', serif;
}

h2 {
  font-family: 'Cinzel', serif;
}

h3 {
  font-family: 'Cinzel', serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

button {
  font-family: 'Raleway', sans-serif;
}

span {
  font-family: 'Raleway', sans-serif;
}